.catalog__body {
  overflow: hidden;
}

.main.catalog__body {
  margin: 0;
  width: 100%;
  height: 100%;
}
.main.catalog__body .catalog__container {
  width: 100%;
  height: 100%;
  display: flex;
}
.main.catalog__body .catalog__container .item {
  cursor: pointer;
  transition: all 0.4s;
  width: 100%;
  height: 100%;
  background: #000;
  display: inline-block;
}
.main.catalog__body .catalog__container .item:hover {
  width: 150%;
  transition: all 0.4s;
}
.main.catalog__body .catalog__container .item:hover .item__wrapper {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main.catalog__body .catalog__container .item:hover .item__wrapper .item__describe .item__text {
  display: block;
  transition: all 0.4s;
  transform: translate(0, 0);
  opacity: 1;
}
.main.catalog__body .catalog__container .item .item__body {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: fill;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main.catalog__body .catalog__container .item .item__body .item__describe {
  overflow: hidden;
}
.main.catalog__body .catalog__container .item .item__body .item__describe .item__name {
  text-align: center;
  font-size: 55px;
  font-family: "Montserrat", sans-serif;
  padding: 0 0 10px 0;
  color: #ffffff;
}
.main.catalog__body .catalog__container .item .item__body .item__describe .item__name span {
  text-wrap: nowrap;
}
.main.catalog__body .catalog__container .item .item__body .item__describe .item__text {
  display: block;
  opacity: 0;
  margin: 10px 0 0 0;
  text-align: center;
  transition: all 0.4s;
  transform: translate(-120%, 0);
}
.main.catalog__body .catalog__container .item .item__body .item__describe .item__text p {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  margin: 4px 0;
  color: rgb(233, 233, 220);
}
.main.catalog__body .catalog__container .item .item__body .item__describe .item__text p.last {
  margin: 4px 0 20px 0;
}
.main.catalog__body .catalog__container .item .item__body .item__describe .item__text span {
  color: rgb(233, 233, 220);
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  border-radius: 15px;
}
.main.catalog__body .catalog__container .item.active .item__body .item__describe .item__text {
  transform: translate(0, 0);
  transition: all 0.4s;
}
.main.catalog__body .catalog__container .item1 .item__body {
  background-image: url(../src/img/catalog1.jpg);
}
.main.catalog__body .catalog__container .item1 .item__body .item__describe .item__name {
  border-bottom: 4px solid #ffffff;
}
.main.catalog__body .catalog__container .item2 .item__body {
  background-image: url(../src/img/catalog2.jpg);
}
.main.catalog__body .catalog__container .item2 .item__describe .item__name span {
  border-bottom: 4px solid #ffffff;
}
.main.catalog__body .catalog__container .item3 .item__body {
  background-image: url(../src/img/catalog3.jpg);
  background-position: center 30%;
}
.main.catalog__body .catalog__container .item3 .item__body .item__describe .item__name {
  border-bottom: 4px solid #ffffff;
}