.main.contact__body {
  height: 70%;
}
.main.contact__body .contact__wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.main.contact__body .contact__wrapper .left {
  width: 49vw;
  border-right: 1px solid #000;
  padding: 0 40px;
}
.main.contact__body .contact__wrapper .left .left__body h1 {
  font-size: 32px;
  margin: 50px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.main.contact__body .contact__wrapper .left .left__body .contact__form {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  padding: 25px 15px;
  background: rgba(168, 168, 168, 0.2);
}
.main.contact__body .contact__wrapper .left .left__body .contact__form span {
  margin: 15px 0;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}
.main.contact__body .contact__wrapper .left .left__body .contact__form input {
  font-family: "Montserrat", sans-serif;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 15px;
}
.main.contact__body .contact__wrapper .left .left__body .contact__form button {
  display: inline-block;
  width: 160px;
  margin: 20px auto 0 auto;
  font-size: 20px;
  padding: 15px 25px;
  border-radius: 15px;
  background: #c05805;
  color: #fff;
  transition: all 0.3s;
}
.main.contact__body .contact__wrapper .left .left__body .contact__form button:hover {
  transition: all 0.3s;
  width: 200px;
  background: green;
}
.main.contact__body .contact__wrapper .right {
  width: 49vw;
}
.main.contact__body .contact__wrapper .right .right__body h2 {
  font-size: 32px;
  margin: 50px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.main.contact__body .contact__wrapper .right .right__body .section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
.main.contact__body .contact__wrapper .right .right__body .section a {
  font-weight: bold;
  font-size: 24px;
}
.main.contact__body .contact__wrapper .right .right__body .section a img {
  margin: 0 20px 0 0;
  max-width: 60px;
  max-height: 60px;
}