////////////Обнуляющий стиль

@import url(../style/nullstyle.css);

///////////Подключение шрифтов
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
///////////Переменные $name:value; $fz: 80px;

///////////Шаблоны %name{value}  in code @extend %name;

//////////Миксины @mixin name($X,){value: $X} in code @include name(50px, #clr, bla bla bla);

/////////
body {
    font-family: "Roboto", sans-serif;
    position: relative;
}
.header {
    box-shadow: 0 2px 7px 0 rgba(182, 182, 182, 0.5);
    background: #fff;
    .header__container {
        height: 145px;
        width: 60%;
        margin: 0 auto;
        padding-left: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 1.1px;
        text-decoration: none;
        text-transform: uppercase;
        .section {
            height: 100%;
            a {
                justify-content: center;
                align-items: center;
                display: flex;
                height: 100%;
                transition: all 0.3s;
                color: #000;
                &:hover {
                    transition: all 0.2s;
                    color: rgba($color: rgb(247, 191, 71), $alpha: 1);
                }
            }
        }
        .active {
            a {
                border-bottom: 4px solid rgb(247, 191, 71);
            }
        }
        .logo {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-around;
            height: 100%;
            &:hover > img {
                transition: all 0.5s;
                transform: scale(1.2);
            }
            img {
                height: 77px;
                width: 137px;
                transition: all 0.5s;
            }
            span {
                font-size: 14px;
                color: #272727;
                letter-spacing: 2.6px;
                font-weight: normal;
            }
        }
    }
    .header__adaptive {
        display: none;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        padding: 15px 0;
        .adaptive__logo {
            img {
                height: 65px;
                width: 100px;
            }
        }
        .burger {
            img {
                transition: all 0.3s;
                width: 40px;
                height: 40px;
            }
            img.active {
                transition: all 0.3s;
                transform: rotate(90deg);
                height: 45px;
            }
        }
    }
}
.main {
    margin-top: 20px;
    .main__menu {
        display: none;
        justify-content: center;
        align-items: center;
        .menu__wrapper {
            .menu__list {
                .list__item {
                    transform: translate(-50%, 0);
                    opacity: 0;
                    text-align: center;
                    margin: 25px 0;
                    a {
                        text-align: center;
                        font-size: 32px;
                    }
                    a.active {
                        color: rgb(247, 182, 41);
                    }
                }
                .list__item.show {
                    transform: translate(0%, 0);
                    opacity: 1;
                    transition: all 0.2s;
                }
            }
        }
    }
    .main__menu.show {
        display: flex;
    }
    .content.dn {
        display: none !important;
    }
}
footer.dn {
    display: none;
}
