@import url(../style/nullstyle.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  font-family: "Roboto", sans-serif;
  position: relative;
}

.header {
  box-shadow: 0 2px 7px 0 rgba(182, 182, 182, 0.5);
  background: #fff;
}
.header .header__container {
  height: 145px;
  width: 60%;
  margin: 0 auto;
  padding-left: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.1px;
  text-decoration: none;
  text-transform: uppercase;
}
.header .header__container .section {
  height: 100%;
}
.header .header__container .section a {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  transition: all 0.3s;
  color: #000;
}
.header .header__container .section a:hover {
  transition: all 0.2s;
  color: #f7bf47;
}
.header .header__container .active a {
  border-bottom: 4px solid rgb(247, 191, 71);
}
.header .header__container .logo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.header .header__container .logo:hover > img {
  transition: all 0.5s;
  transform: scale(1.2);
}
.header .header__container .logo img {
  height: 77px;
  width: 137px;
  transition: all 0.5s;
}
.header .header__container .logo span {
  font-size: 14px;
  color: #272727;
  letter-spacing: 2.6px;
  font-weight: normal;
}
.header .header__adaptive {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 15px 0;
}
.header .header__adaptive .adaptive__logo img {
  height: 65px;
  width: 100px;
}
.header .header__adaptive .burger img {
  transition: all 0.3s;
  width: 40px;
  height: 40px;
}
.header .header__adaptive .burger img.active {
  transition: all 0.3s;
  transform: rotate(90deg);
  height: 45px;
}

.main {
  margin-top: 20px;
}
.main .main__wrapper {
  display: flex;
  justify-content: center;
}
.main .main__wrapper .main__images {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.main .main__wrapper .main__images .slider {
  min-width: 0;
}
.main .main__wrapper .main__images .slider .slick-list {
  overflow: hidden;
}
.main .main__wrapper .main__images .slider .slick-track {
  display: flex;
}
.main .main__wrapper .main__images .slider .slider__item {
  text-align: center;
}
.main .main__wrapper .main__images .slider img {
  margin-top: 30px;
  height: 35vw;
}
.main .main__wrapper .main__intro {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  font-weight: 400;
  border-left: 1px solid #000;
  padding-left: 30px;
}
.main .main__wrapper .main__intro span.title {
  font-size: 75px;
  font-weight: bold;
  margin: 40px 0 40px 0;
  letter-spacing: 3px;
  color: #c05805;
  transition: all 0.5s;
}
.main .main__wrapper .main__intro span.title:hover {
  letter-spacing: 8px;
  transition: all 0.5s;
}
.main .main__wrapper .main__intro h1 {
  font-size: 40px;
  margin: 0 0 25px 0;
  text-align: left;
  font-family: "Montserrat", sans-serif;
}
.main .main__wrapper .main__intro p {
  font-size: 22px;
  text-align: left;
  max-width: 80%;
  font-family: "Montserrat", sans-serif;
  line-height: 32px;
}
.main .main__wrapper .main__intro p a {
  border-bottom: 1px solid blue;
  color: blue;
  cursor: pointer;
}
.main .main__wrapper .main__intro p a:hover {
  border-bottom: 1px solid red;
  color: red;
}
.main .main__wrapper .main__intro a.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  background: #bc4549;
  padding: 20px 40px;
  margin: 25px 0 0 0;
  box-shadow: #a0a0a0 0 15px 25px;
  transition: all 0.3s;
}
.main .main__wrapper .main__intro a.contact:hover {
  background: #9e3739;
  transition: all 0.3s;
  border-radius: 10px;
  box-shadow: #a0a0a0 0 20px 25px;
}
.main .main__menu {
  display: none;
  justify-content: center;
  align-items: center;
}
.main .main__menu .menu__wrapper .menu__list .list__item {
  transform: translate(-50%, 0);
  opacity: 0;
  text-align: center;
  margin: 25px 0;
}
.main .main__menu .menu__wrapper .menu__list .list__item a {
  text-align: center;
  font-size: 32px;
}
.main .main__menu .menu__wrapper .menu__list .list__item a.active {
  color: rgb(247, 182, 41);
}
.main .main__menu .menu__wrapper .menu__list .list__item.show {
  transform: translate(0%, 0);
  opacity: 1;
  transition: all 0.2s;
}
.main .main__wrapper.dn {
  display: none;
}
.main .main__menu.show {
  display: flex;
}

.catalog__body {
  overflow: hidden;
}

.main.poshta__body h1 {
  font-size: 40px;
  margin: 50px auto 25px auto;
  max-width: 50%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.main.poshta__body .poshta__container {
  margin: 70px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.main.poshta__body .poshta__container .left__part {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 25px 0;
  border-right: 1px solid #000;
}
.main.poshta__body .poshta__container .left__part a {
  display: inline-block;
  margin: 15px 0;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
.main.poshta__body .poshta__container .left__part .image__block img {
  width: 650px;
  height: 450px;
  border-radius: 15px;
}
.main.poshta__body .poshta__container .right__part {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.main.poshta__body .poshta__container .right__part h2 {
  margin: 15px 0;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
.main.poshta__body .poshta__container .right__part p {
  font-size: 22px;
  margin: 15px auto;
  width: 80%;
  font-family: "Montserrat", sans-serif;
}
.main.poshta__body .poshta__container .right__part a {
  display: inline-block;
  width: 200px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  background: #bc4549;
  padding: 20px 40px;
  margin: 50px 0 0 0;
  box-shadow: #a0a0a0 0 15px 25px;
  transition: all 0.3s;
}
.main.poshta__body .poshta__container .right__part a:hover {
  background: #9e3739;
  transition: all 0.3s;
  border-radius: 10px;
  box-shadow: #a0a0a0 0 20px 25px;
}

.main.catalog__body {
  margin: 0;
  width: 100%;
  height: 100%;
}
.main.catalog__body .catalog__container {
  width: 100%;
  height: 100%;
  display: flex;
}
.main.catalog__body .catalog__container .item {
  cursor: pointer;
  transition: all 0.4s;
  width: 100%;
  height: 100%;
  background: #000;
  display: inline-block;
}
.main.catalog__body .catalog__container .item:hover {
  width: 150%;
  transition: all 0.4s;
}
.main.catalog__body .catalog__container .item:hover .item__wrapper {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main.catalog__body .catalog__container .item:hover .item__wrapper .item__describe .item__text {
  display: block;
  transition: all 0.4s;
  transform: translate(0, 0);
}
.main.catalog__body .catalog__container .item .item__body {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: fill;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main.catalog__body .catalog__container .item .item__body .item__describe {
  overflow: hidden;
}
.main.catalog__body .catalog__container .item .item__body .item__describe .item__name {
  text-align: center;
  font-size: 55px;
  font-family: "Montserrat", sans-serif;
  padding: 0 0 10px 0;
  color: #ffffff;
}
.main.catalog__body .catalog__container .item .item__body .item__describe .item__name span {
  text-wrap: nowrap;
}
.main.catalog__body .catalog__container .item .item__body .item__describe .item__text {
  display: none;
  margin: 10px 0 0 0;
  text-align: center;
  transition: all 0.4s;
  transform: translate(0, 0);
}
.main.catalog__body .catalog__container .item .item__body .item__describe .item__text p {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  margin: 4px 0;
  color: rgb(233, 233, 220);
}
.main.catalog__body .catalog__container .item1 .item__body {
  background-image: url(../src/img/catalog1.jpg);
}
.main.catalog__body .catalog__container .item1 .item__body .item__describe .item__name {
  border-bottom: 4px solid #ffffff;
}
.main.catalog__body .catalog__container .item2 .item__body {
  background-image: url(../src/img/catalog2.jpg);
}
.main.catalog__body .catalog__container .item2 .item__describe .item__name span {
  border-bottom: 4px solid #ffffff;
}
.main.catalog__body .catalog__container .item3 .item__body {
  background-image: url(../src/img/catalog3.jpg);
}
.main.catalog__body .catalog__container .item3 .item__body .item__describe .item__name {
  border-bottom: 4px solid #ffffff;
}

.main.promislovii__body .prom__wrapper {
  display: flex;
  align-items: center;
}
.main.promislovii__body .prom__wrapper .prom__images .prom {
  width: 50vw;
}
.main.promislovii__body .prom__wrapper .prom__images .prom .slick-list {
  overflow: hidden;
}
.main.promislovii__body .prom__wrapper .prom__images .prom .slick-track {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main.promislovii__body .prom__wrapper .prom__images .prom .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main.promislovii__body .prom__wrapper .prom__images .prom .slick-dots li {
  list-style-type: none;
}
.main.promislovii__body .prom__wrapper .prom__images .prom .slick-dots li.slick-active button {
  background: #fff;
}
.main.promislovii__body .prom__wrapper .prom__images .prom .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #c05805;
  border: 2px solid #c05805;
  margin: 15px 5px;
}
.main.promislovii__body .prom__wrapper .prom__images .prom .prom__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main.promislovii__body .prom__wrapper .prom__images .prom .prom__item img {
  margin: 0 0 30px 0;
  height: 33vw;
}
.main.promislovii__body .prom__wrapper .prom__text {
  padding: 0 30px;
  border-left: 1px solid #000;
  height: 100%;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.main.promislovii__body .prom__wrapper .prom__text span {
  color: #c05805;
  font-weight: bold;
}
.main.promislovii__body .prom__wrapper .prom__text h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
}
.main.promislovii__body .prom__wrapper .prom__text p {
  margin: 20px 0;
  font-size: 21px;
  text-align: left;
  max-width: 80%;
  font-family: "Montserrat", sans-serif;
  line-height: 32px;
}
.main.promislovii__body .prom__wrapper .prom__text a {
  display: inline-block;
  width: 200px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  background: #bc4549;
  padding: 20px 40px;
  margin: 20px 0 0 0;
  box-shadow: #a0a0a0 0 15px 25px;
  transition: all 0.3s;
}
.main.promislovii__body .prom__wrapper .prom__text a:hover {
  background: #9e3739;
  transition: all 0.3s;
  border-radius: 10px;
  box-shadow: #a0a0a0 0 20px 25px;
}

.main.pobutovii__body .pobut__wrapper {
  display: flex;
  align-items: center;
}
.main.pobutovii__body .pobut__wrapper .pobut__images .pobut {
  width: 50vw;
}
.main.pobutovii__body .pobut__wrapper .pobut__images .pobut .slick-list {
  overflow: hidden;
}
.main.pobutovii__body .pobut__wrapper .pobut__images .pobut .slick-track {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main.pobutovii__body .pobut__wrapper .pobut__images .pobut .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main.pobutovii__body .pobut__wrapper .pobut__images .pobut .slick-dots li {
  list-style-type: none;
}
.main.pobutovii__body .pobut__wrapper .pobut__images .pobut .slick-dots li.slick-active button {
  background: #fff;
}
.main.pobutovii__body .pobut__wrapper .pobut__images .pobut .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #c05805;
  border: 2px solid #c05805;
  margin: 15px 5px;
}
.main.pobutovii__body .pobut__wrapper .pobut__images .pobut .pobut__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main.pobutovii__body .pobut__wrapper .pobut__images .pobut .pobut__item img {
  margin: 0 0 30px 0;
  height: 33vw;
}
.main.pobutovii__body .pobut__wrapper .pobut__text {
  padding: 0 30px;
  border-left: 1px solid #000;
  height: 100%;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.main.pobutovii__body .pobut__wrapper .pobut__text span {
  color: #c05805;
  font-weight: bold;
}
.main.pobutovii__body .pobut__wrapper .pobut__text h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
}
.main.pobutovii__body .pobut__wrapper .pobut__text p {
  margin: 40px 0;
  font-size: 21px;
  text-align: left;
  max-width: 80%;
  font-family: "Montserrat", sans-serif;
  line-height: 32px;
}
.main.pobutovii__body .pobut__wrapper .pobut__text a {
  display: inline-block;
  width: 200px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  background: #bc4549;
  padding: 20px 40px;
  margin: 20px 0 0 0;
  box-shadow: #a0a0a0 0 15px 25px;
  transition: all 0.3s;
}
.main.pobutovii__body .pobut__wrapper .pobut__text a:hover {
  background: #9e3739;
  transition: all 0.3s;
  border-radius: 10px;
  box-shadow: #a0a0a0 0 20px 25px;
}

.main.contact__body {
  height: 70%;
}
.main.contact__body .contact__wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.main.contact__body .contact__wrapper .left {
  width: 49vw;
  border-right: 1px solid #000;
  padding: 0 40px;
}
.main.contact__body .contact__wrapper .left .left__body h1 {
  font-size: 32px;
  margin: 50px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.main.contact__body .contact__wrapper .left .left__body .contact__form {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  padding: 25px 15px;
  background: rgba(168, 168, 168, 0.2);
}
.main.contact__body .contact__wrapper .left .left__body .contact__form span {
  margin: 15px 0;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}
.main.contact__body .contact__wrapper .left .left__body .contact__form input {
  font-family: "Montserrat", sans-serif;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 15px;
}
.main.contact__body .contact__wrapper .left .left__body .contact__form button {
  display: inline-block;
  width: 160px;
  margin: 20px auto 0 auto;
  font-size: 20px;
  padding: 15px 25px;
  border-radius: 15px;
  background: #c05805;
  color: #fff;
  transition: all 0.3s;
}
.main.contact__body .contact__wrapper .left .left__body .contact__form button:hover {
  transition: all 0.3s;
  width: 200px;
  background: green;
}
.main.contact__body .contact__wrapper .right {
  width: 49vw;
}
.main.contact__body .contact__wrapper .right .right__body h2 {
  font-size: 32px;
  margin: 50px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.main.contact__body .contact__wrapper .right .right__body .section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
.main.contact__body .contact__wrapper .right .right__body .section a {
  font-size: 18px;
}
.main.contact__body .contact__wrapper .right .right__body .section a img {
  margin: 0 20px 0 0;
  max-width: 60px;
  max-height: 60px;
}

.main.photos__body h1,
.main.photos__body h2,
.main.photos__body h3 {
  font-size: 40px;
  margin: 60px auto 45px auto;
  max-width: 50%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.main.photos__body h2,
.main.photos__body h3 {
  margin: 30px auto 35px auto;
}
.main.photos__body p {
  line-height: 28px;
  background: rgba(168, 168, 168, 0.2);
  padding: 25px;
  border-radius: 25px;
  font-size: 22px;
  margin: 140px auto 140px auto;
  max-width: 50%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.main.photos__body .main__footer {
  display: flex;
  flex-direction: column;
  margin: 80px 0 0 0;
  padding-bottom: 100px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.main.photos__body .main__footer span {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
}
.main.photos__body .main__footer a {
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  background: #bc4549;
  padding: 20px 40px;
  margin: 40px 0 0 0;
  box-shadow: #a0a0a0 0 15px 25px;
  transition: all 0.3s;
}
.main.photos__body .main__footer a:hover {
  background: #9e3739;
  transition: all 0.3s;
  border-radius: 10px;
  box-shadow: #a0a0a0 0 20px 25px;
}
.main.photos__body .photos {
  position: relative;
}
.main.photos__body .photos .slick-list {
  overflow: hidden;
}
.main.photos__body .photos .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 40px;
  height: 60px;
}
.main.photos__body .photos .slick-arrow.slick-prev {
  left: 20px;
  background: url("../src/img/left-arrow.png") 0 0/100% no-repeat;
}
.main.photos__body .photos .slick-arrow.slick-next {
  right: 20px;
  background: url("../src/img/right-arrow.png") 0 0/100% no-repeat;
}
.main.photos__body .photos .slick-track {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main.photos__body .photos .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main.photos__body .photos .slick-dots li {
  list-style-type: none;
}
.main.photos__body .photos .slick-dots li.slick-active button {
  background: #fff;
}
.main.photos__body .photos .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #c05805;
  border: 2px solid #c05805;
  margin: 15px 5px;
}
.main.photos__body .photos .photos__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main.photos__body .photos .photos__item img {
  margin: 0 0 30px 0;
  height: 30vw;
}

.review__body h1 {
  font-size: 40px;
  margin: 50px auto 25px auto;
  max-width: 50%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.review__body .review__form {
  width: 40vw;
  border-radius: 25px;
  padding: 25px;
  background: rgba(168, 168, 168, 0.2);
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.review__body .review__form span {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  margin: 15px 0;
}
.review__body .review__form input {
  padding: 10px 15px;
  font-size: 16px;
  width: 90%;
  border-radius: 15px;
}
.review__body .review__form textarea {
  width: 90%;
  height: 20vh;
  min-height: 100px;
  resize: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 15px;
}
.review__body .review__form button {
  margin: 20px 0 0 0;
  font-size: 20px;
  padding: 15px 25px;
  border-radius: 15px;
  background: #c05805;
  color: #fff;
  transition: all 0.3s;
}
.review__body .review__form button:hover {
  transition: all 0.3s;
  padding: 15px 40px;
  background: green;
}
.review__body .review__form p a {
  color: blue;
}

.index__footer {
  margin: 100px 0;
  padding: 0 0 40px 0;
}
.index__footer .review {
  padding: 20px 0;
  background: rgba(168, 168, 168, 0.2);
}
.index__footer .review .review__body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.index__footer .review .review__body .review__title {
  font-size: 42px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  margin: 30px 0 50px 0;
}
.index__footer .review .review__body .review__slider {
  min-width: 0;
  max-width: 99vw;
  position: relative;
}
.index__footer .review .review__body .review__slider .slick-list {
  overflow: hidden;
}
.index__footer .review .review__body .review__slider .slick-track {
  display: flex;
}
.index__footer .review .review__body .review__slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.index__footer .review .review__body .review__slider .slick-dots li {
  list-style-type: none;
}
.index__footer .review .review__body .review__slider .slick-dots li.slick-active button {
  background: #fff;
}
.index__footer .review .review__body .review__slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #c05805;
  border: 2px solid #c05805;
  margin: 15px 5px;
}
.index__footer .review .review__body .review__slider .slider__item {
  margin: 0px 0 0px 0;
}
.index__footer .review .review__body .review__slider .slider__item .item__body {
  width: 30%;
  margin: 0 auto;
  border: 2px solid rgb(255, 255, 255);
  background: #fff;
  border-radius: 25px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.index__footer .review .review__body .review__slider .slider__item .item__body img {
  height: 80px;
  width: 80px;
}
.index__footer .review .review__body .review__slider .slider__item .item__body .name {
  margin: 15px 0;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  color: #c05805;
}
.index__footer .review .review__body .review__slider .slider__item .item__body p {
  text-align: center;
  max-width: 90%;
  font-size: 19px;
}
.index__footer .review .review__body .review__suppose {
  font-size: 18px;
}
.index__footer .review .review__body .review__suppose a {
  color: rgb(165, 2, 2);
}
.index__footer .review .review__body .review__suppose a:hover {
  text-decoration: underline;
}

footer.dn {
  display: none;
}